# Required Supabase configuration
SUPABASE_URL=
SUPABASE_API_KEY=
SUPABASE_STORAGE_TOKEN=

# Required admin login configuration
STUDYWINZO_ADMIN_USER=
STUDYWINZO_ADMIN_PASSWORD=

# Required Cloudinary configuration for batch and thumbnail image uploads
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=